@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
}
* {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  --VeryDarkGray: hsl(0, 0%, 17%);
  --DarkGray: hsl(0, 0%, 59%);
}
body {
  background: #000;
}
